// LOADING
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: $blue;
  @include transition(height, 0.2s, ease-out);
}

.loading .logo {
  width: 80%;
  max-width: 12rem;
}

.loading .logo .logo-color {fill: $white;}

.loading.loaded {height: calc(100vh - 70%;}

.return.loading.loaded {height: 0;}

.loading.loaded:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1rem;
  left: 0;
  z-index: -1;
  height: 35%;
  background-color: inherit;
  content: "";
  transform: skewY(1deg);
  transform-origin: 100%;
}


// WELCOME
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
  padding-bottom: 2rem;
  background-image: url("../images/bg-urban.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
}

.welcome.back {
  padding: 0 0 2rem;
  background-image: none;
}

.welcome .button {
  justify-content: center;
  min-width: 14rem;
}

.welcome.back .button {min-width: 10rem;}