// LOADING
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  padding: 6rem 0;
  background-color: $blue;
  @include transition(max-height, 0.25s, ease-out);
}

.loading .logo {
  width: 80%;
  max-width: 12rem;
}

.loading .logo .logo-color {fill: $white;}

.loading.loaded {
  max-height: 0;
  min-height: auto;
}

.loading.loaded:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1rem;
  left: 0;
  z-index: -1;
  height: 35%;
  background-color: inherit;
  content: "";
  transform: skewY(1deg);
  transform-origin: 100%;
}


// AUTHENTICATION
.authentication {padding-top: 13rem;}