// CAROUSELS
.carousel {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 1rem;
  padding: 0 2rem;
}

.carousel .flickity-viewport {@include transition(height, 0.2s, ease);}

.carousel.no-padding {padding: 0;}

.carousel .flickity-prev-next-button {display: none;}

.carousel .flickity-button-icon {fill: $hot-pink;}

.carousel .flickity-page-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  margin: 2rem auto 0;
}

.carousel .flickity-page-dots .dot {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
  padding: 0;
  border-radius: 100%;
  line-height: 1;
  background: $hot-pink;
}

.carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 40rem;
  min-height: 100%;
  margin: auto;
  padding: 0;
  text-align: left;
}


// PAGINATION BUTTONS
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.button-group.button-group--cells .button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  padding: 0;
  border: 1px solid $hot-pink;
  border-radius: 100%;
  line-height: 2.5;
  color: $hot-pink;
  background-color: $white;
}

.button-group.button-group--cells .button.is-selected {
  color: $white;
  background-color: $hot-pink;
}


// CAROUSEL NAV
.carousel-nav.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel-nav.button-group.button-group--cells span.button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
  max-width: none;
  min-width: auto;
  height: auto;
  max-height: none;
  min-height: auto;
  margin: 0;
  padding: 0 1rem 1rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2.5;
  color: $gray;
  background-color: $white;
}

.carousel-nav.button-group.button-group--cells span.button.is-selected {color: $hot-pink;}

.carousel-nav.button-group.button-group--cells span.button:after {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.425rem;
  height: 0.425rem;
  margin: 0 auto;
  border-radius: 100%;
  background-color: transparent;
  content: "";
}

.carousel-nav.button-group.button-group--cells span.button.is-selected:after {background-color: $hot-pink;}


// RECENT ACTIVITY CAROUSEL NAV
.recent-activity .carousel-nav.button-group {padding: 2rem 0 0;}