// LOG IN PAGE
.login {width: 100%;}

.carousel.authentication.progressive.flickity-enabled {
  position: absolute;
  opacity: 1;
  @include transition(opacity, 0.2s, ease-in-out);
}

.carousel.authentication.progressive.flickity-enabled.hide {
  display: none;
  opacity: 0;
}

.create-account {
  display: none;
  position: absolute;
  opacity: 0;
  @include transition(opacity, 0.2s, ease-in-out);
}

.create-account.animated.flipInY,
.create-account.show {
  display: block;
  opacity: 1;
}


// CREATE NEW ACCOUNT PAGE
.start-new-account {
  position: absolute;
  opacity: 1;
  @include transition(opacity, 0.2s, ease-in-out);
}

.start-new-account.hide {
  display: none;
  opacity: 0;
}

.carousel.new-account.progressive.flickity-enabled {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity, 0.2s, ease-in-out);
}

.carousel.new-account.progressive.flickity-enabled.flipInY,
.carousel.new-account.progressive.flickity-enabled.show {
  display: block;
  visibility: visible;
  opacity: 1;
}


// WELCOME BACK AUTHENTICATION
.carousel.authentication.progressive.flickity-enabled {position: relative;}