// AUTHENTICATION
.authentication, .register {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.authentication.ext, .register.ext {
  max-width: 100%;
  overflow: hidden;
}

.authentication.int, .register.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}

.authentication.int {min-width: 300%;}

.authentication.int.slide-one {@include transform(translateX(-33.3%));}

.authentication.int.slide-two {@include transform(translateX(-66.6%));}

.register.int {min-width: 200%;}

.register.int.slide-one {@include transform(translateX(-50%));}

.log-in, .forgot-password, .password-email-sent, .create-account, .terms {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
}

.terms .text {padding: 5rem 2rem 0;}

.hide--terms {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  color: $color-one;
}