// MODALS
.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 6rem 0 2rem;
  font-size: 1.5rem;
  outline: none;
}

.close-modal-icon {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: "LineAwesome"
}