// MODALS
.modal {
  display: block;
  margin: 0;
  padding: 0;
}

.modal-content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  padding: 4rem 0 2rem;
}

.close-modal-icon {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: "LineAwesome"
}

.close-stuff-modal {
  display: block;
  opacity: 1;
  @include transition(all, 0.2s, ease);
}

.close-stuff-modal.hide {
  display: none;
  opacity: 0;
}