@import "mixins";
@import "colors";

html {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1rem + 6 * ((100vw - 32rem) / 680));
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: $black;
}

body, .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background: $red;
}

::selection {
  color: $white;
  background: $red;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $green;
  cursor: pointer;
  @include transition(all, 0.2s, ease);
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}