// COLORS
$purple: #5752c8;
$hot-pink: #e11073;

$black: #000000;
$gray: #a0a0a0;
$white: #ffffff;

$error: #f04e59;
$valid: #00ac39;


// SELECTION
::-moz-selection {
  color: $white;
  background: var(--color-one);
}

::selection {
  color: $white;
  background: var(--color-one);
}


// TEXT LINKS
a {color: var(--color-one);}
a:hover, a:focus {color: var(--color-two);}