// COLORS
$black: #000000;
$light-gray: #f8f9fc;
$medium-gray: #d1d8df;
$gray: #a0a0a0;
$white: #ffffff;

$cream: #eaeae8;
$red: #f04e59;
$blue: #003350;
$green: #00ac39;

$color-one: #e11073;
$color-two: #5752c8;