// MAX-WIDTHS
@media (min-width: 48rem) {
.xs {
  max-width: 16rem;
  min-width: 16rem;
}

.sm {
  max-width: 24rem;
  min-width: 24rem;
}

.md {
  max-width: 32rem;
  min-width: 32rem;
}

.lg {
  max-width: 40rem;
  min-width: 40rem;
}

.xs, .sm, .md, .lg {margin: 0;}}


// MAIN
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 32rem;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 0 6rem;
}

section {width: 100%;}


// TEXT
.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}

.text.center {text-align: center;}


// FORM CONTAINERS
.form-container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
}