// INPUT RESETS
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  font-size: 1rem;
  @include appearance(none);
}


// FORMS
form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

form.wrap {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

fieldset {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  border: none;
  @include transition(all, 0.2s, ease-in-out);
}

fieldset:last-of-type {margin: 0;}

fieldset.half {width: calc(50% - 1rem);}

fieldset.inline-button {width: calc(60% - 1rem);}

legend {display: none;}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.75rem;
  margin: 0.5rem 0 0;
  padding: 1rem;
  border: 1px solid $medium-gray;
  font-weight: 500;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  background-color: $light-gray;
  cursor: text;
}

input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  white-space: nowrap;
}

input::placeholder {
  opacity: 1;
  @include transition(all, 0.2s, ease-in-out);
}

input:focus::placeholder {opacity: 0.5;}

input[type="password"] {padding: 1rem 3rem 1rem 1rem;}


// CHECKBOX
label.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.325rem;
  padding-left: 2rem;
}

label.checkbox span {z-index: 10;}


input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  border: 1px solid $black;
  border-radius: 10rem;
  background-color: $white;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.2s, ease-in-out);
}

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: $white;
  content: '\f17b';
}

input[type="checkbox"]:checked:not(:disabled) {
  border-color: $green;
  background-color: $green;
}


// SELECT
select {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2.75rem;
  min-height: 2.75rem;
  overflow: hidden;
  margin: 0.5rem 0 0;
  padding: 0 1rem;
  border: 1px solid $medium-gray;
  font-size: 1rem;
  font-weight: 500;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  text-overflow: ellipsis;
  background-color: $light-gray;
  cursor: text;
  white-space: nowrap;
  @include appearance(none);
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  @include appearance(none);
}

.select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 0;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1rem;
}

select:disabled {
  border-color: $light-gray;
  color: $medium-gray;
}

select:disabled + .select-icon {color: $medium-gray;}


// FORGOT PASSWORD PROMPT
span.forgot-password-prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 1.325rem;
  min-height: 1.325rem;
  font-size: 0.8rem;
}


// SHOW/HIDE PASSWORD
.show-hide-password {
  display: block;
  position: absolute;
  top: 2.125rem;
  right: 1rem;
  z-index: 10;
  width: auto;
  height: 1.75rem;
  font-size: 1.5rem;
  color: $black;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
}


// FORM ERRORS
span.error-message {
  display: block;
  width: 100%;
  padding: 0.6rem 0 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: $red;
  opacity: 0;
  @include transition(all, 0.2s, ease-in-out);
}

fieldset.error label,
fieldset.error input,
fieldset.error input::placeholder,
fieldset.error select {color: $red;}

fieldset.error input,
fieldset.error select {border-color: $red;}

fieldset.error span.error-message {opacity: 1;}


// FORM VALIDATION
span.is-valid {
  position: absolute;
  top: 2.325rem;
  right: 1rem;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  border: 1px solid $green;
  border-radius: 10rem;
  background-color: $green;
  opacity: 0;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.2s, ease-in-out);
}

span.is-valid:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: $white;
  content: '\f17b';
}

fieldset.valid span.is-valid {opacity: 1;}