// HEADER
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 32rem;
  min-height: 6.775rem;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  background-color: $white;
}

.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.headroom {
  @include transition(all, 0.2s, ease-in-out);
  will-change: transform;
}

.headroom--pinned {@include transform(translateY(0));}

.headroom--unpinned {@include transform(translateY(-100%));}


// HEADER LOGO
header .logo {
  display: grid;
  width: 8rem;
  outline: none;
}

header .logo .logo-color {fill: $black;}