// SLIDER LISTS
ul.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 0;
  list-style-type: none;
}

ul.slider.more-padding {padding: 2rem 2rem 0;}

ul.slider li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0;
  border-bottom: 1px solid $medium-gray;
}

ul.slider li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  font-weight: 500;
  color: $slate;
}

ul.slider li span {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  color: $black;
}

ul.slider li:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 74%;
  font-family: "LineAwesome";
  font-size: 1rem;
  content: "\f112";
}


// SLIDER LISTS WITH ICONS
ul.slider.icon li {padding: 0 0 0 2.5rem;}

ul.slider.icon li:before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 100%;
  font-family: "LineAwesome";
  font-size: 2.2rem;
}

ul.slider.icon li:after {height: 100%;}

ul.slider.icon li.photo:before {content: "\f1e8";}
ul.slider.icon li.manual:before {content: "\f14e";}
ul.slider.icon li.receipt:before {content: "\f1ec";}
ul.slider.icon li.paypal:before {content: "\f175";}
ul.slider.icon li.credit-card:before {content: "\f1aa";}
ul.slider.icon li.bitcoin:before {content: "\f149";}