// NOTIFICATIONS
.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  padding: 1rem;
  @include transition(all, 0.2s, ease-in-out);
  @include transform(translateY(-100%));
}

.notification.show {@include transform(translateY(0));}

.notification span.dismiss {
  font-size: 1.75rem;
  cursor: pointer;
}

.notification.error, .notification.confirm {
  color: $white;
  background-color: $red;
}

.notification.error .message {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
}

.notification.confirm .message {
  display: flex;
  flex-direction: column;
  width: calc(100%);
  text-align: center;
}

.notification .message p {
  padding: 0;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 0;
}

.action button.button {
  height: 2.25rem;
  max-height: 2.25rem;
  min-height: 2.25rem;
  margin: 0 0.5rem;
  border-color: $white;
  line-height: 2.25rem;
  color: $red;
  background-color: $white;
}

.action button.button:hover, .action button.button:focus {
  color: $white;
  background-color: $red;
}