// SLIDERS
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.slider.ext {
  max-width: 100%;
  overflow: hidden;
}

.slider.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}


// SLIDER DOTS
.slider-dots {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
}

.slider-dots ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  list-style-type: none;
}

.slider-dots ul li {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0 0 1rem;
  border: 2px solid $white;
  border-radius: 100%;
}

.slider-dots ul li:first-of-type {margin: 0;}


// SIGN IN SLIDER
.sign-in .slider.int {min-width: 300%;}
.sign-in .slider.int.slide-two {@include transform(translateX(-33.3%));}
.sign-in .slider.int.slide-three {@include transform(translateX(-66.6%));}


// SIGN UP SLIDER
.sign-up .slider.int {min-width: 200%;}
.sign-up .slider.int.slide-two {@include transform(translateX(-50%));}


// INTRODUCTION SLIDER
.introduction .slider.int {min-width: 500%;}
.introduction .slider.int.slide-two {@include transform(translateX(-20%));}
.introduction .slider.int.slide-three {@include transform(translateX(-40%));}
.introduction .slider.int.slide-four {@include transform(translateX(-60%));}
.introduction .slider.int.slide-five {@include transform(translateX(-80%));}


// INTRODUCTION SLIDER DOTS
.slider-dots.dots-two ul li {border: 2px solid $color-one;}
.slider-dots.dots-three ul li {border: 2px solid $white;}
.slider-dots.dots-four ul li {border: 2px solid $color-one;}
.slider-dots.dots-five ul li {border: 2px solid $white;}

.slider-dots ul li.slider-dot.one.show {background-color: $white;}
.slider-dots ul li.slider-dot.two.show {background-color: $color-one;}
.slider-dots ul li.slider-dot.three.show {background-color: $white;}
.slider-dots ul li.slider-dot.four.show {background-color: $color-one;}
.slider-dots ul li.slider-dot.five.show {background-color: $white;}