// INPUT RESETS
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: none;
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  @include appearance(none);
}


// FORMS
form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

form.wrap {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

fieldset {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  border: none;
  @include transition(all, 0.325s, ease);
}

fieldset:last-of-type {margin: 0;}

fieldset.half {width: calc(50% - 1rem);}

fieldset.inline-button {width: calc(60% - 1rem);}

legend {display: none;}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-gray;
  font-weight: 400;
  cursor: text;
  @include transition(all, 0.25s, ease);
}

input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::placeholder {
  opacity: 1;
  @include transition(all, 0.125s, ease);
}

input:focus {border-color: var(--color-one);}

input[type="password"],
input[type="search"] {padding: 0 3rem 0 0;}


// CHECKBOX
label.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.5rem;
  padding-left: 2rem;
}

label.checkbox span {z-index: 10;}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border: 1px solid $color-black;
  background-color: $color-white;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.325s, ease);
}

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.875rem;
  color: $color-white;
  content: '\f17b';
}

input[type="checkbox"]:checked:not(:disabled) {
  border-color: var(--color-one);
  background-color: var(--color-one);
}


// SWITCHES
input.toggle[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  left: auto;
  width: 3.5rem;
  height: 1.75rem;
  min-height: 1.75rem;
  max-height: 1.75rem;
  margin: 0;
  padding: 0.1875rem;
  border-color: transparent;
  border-radius: 2rem;
  background-color: $color-gray;
  @include transition(all, 0.325s, ease);
}

input.toggle[type="checkbox"]:checked:before {display: none;}

input.toggle[type="checkbox"]:after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border-color: transparent;
  border-radius: 100%;
  font-family: "LineAwesome";
  font-size: 1rem;
  background-color: $color-white;
  content: "\f342";
  @include transition(all, 0.325s, ease);
}

input.toggle[type="checkbox"]:checked {
  border-color: transparent;
  background-color: var(--color-one);
}

input.toggle[type="checkbox"]:checked:after {
  left: calc(100% - 1.25rem);
  color: var(--color-one);
  content: "\f17b";
}

label.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-height: 1.75rem;
  padding: 0 4rem 0 0;
}


// DATE
label.date span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

label.date span input {
  width: 24%;
  text-align: center;
}

label.date span input.purchase-year {width: 30%;}

label.date span.slash {
  display: block;
  width: auto;
}


// SELECT
select {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 2.75rem;
  min-height: 2.75rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $color-gray;
  border-left: none;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  background-color: $color-white;
  cursor: text;
  white-space: nowrap;
  @include appearance(none);
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  @include appearance(none);
}

.select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0.875rem;
  right: 0;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1rem;
}

select:disabled {
  border-color: $color-gray;
  color: $color-gray;
}

select:disabled + .select-icon {color: $color-gray;}

select:focus {
  border-color: var(--color-one);
  outline: none;
}


// SEARCH
.search-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0.875rem;
  right: 0;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1.5rem;
}


// FORGOT PASSWORD PROMPT
span.forgot-password-prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 1.325rem;
  min-height: 1.325rem;
  font-size: 0.875rem;
}


// SHOW/HIDE PASSWORD
.show-hide-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: auto;
  height: calc(100% - 0.925rem);
  font-size: 1.5rem;
  color: var(--color-one);
  cursor: pointer;
  @include transition(all, 0.25s, ease);
}


// FORM ERRORS
span.error-message {
  display: block;
  width: 100%;
  min-height: 1.5rem;
  padding: 0.75rem 0 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: $color-error;
  opacity: 0;
  @include transition(all, 0.325s, ease);
}

fieldset.invalid label,
fieldset.invalid input,
fieldset.invalid input::placeholder,
fieldset.invalid select {color: $color-error;}

fieldset.invalid input,
fieldset.invalid select {border-color: $color-error;}

fieldset.invalid .show-hide-password {color: $color-error;}

fieldset.invalid span.error-message {opacity: 1;}


// FORM VALIDATION
span.is-valid {
  position: absolute;
  top: 1.325rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border: 1px solid $color-valid;
  border-radius: 10rem;
  background-color: $color-valid;
  opacity: 0;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.325s, ease);
}

span.is-valid:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.875rem;
  color: $color-white;
  content: '\f17b';
}

fieldset.valid span.is-valid {opacity: 1;}

fieldset.valid .show-hide-password {right: 2rem;}