html {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1rem + 6 * ((100vw - 32rem) / 680));
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #000000; }

body, .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  color: #ffffff;
  background: #f04e59; }

::selection {
  color: #ffffff;
  background: #f04e59; }

a {
  font-weight: 700;
  text-decoration: none;
  color: #00ac39;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

h1, h2, h3, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 1.953rem;
  font-weight: 700;
  text-transform: capitalize; }

h2, h3 {
  font-size: 1.563rem;
  font-weight: 700;
  text-transform: capitalize; }

h3 {
  font-size: 1.25rem; }

h1 + h2 {
  padding: 0.8rem 0; }

p {
  padding: 0.8rem 0;
  font-size: 1rem;
  line-height: 1.5; }

p:last-of-type {
  padding: 0.8rem 0 0; }

small {
  font-size: 0.8rem; }

strong, em, b {
  font-style: normal;
  font-weight: 700; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul li, ol li {
  width: 100%;
  padding: 0 0 1rem 0; }

ul li:last-child, ol li:last-child {
  padding: 0; }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  min-height: 2.75rem;
  max-height: 2.75rem;
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0 1.75rem;
  border-radius: 0.2rem;
  font-size: 0.69rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.button.hide {
  opacity: 0; }

.button.show {
  opacity: 1; }

.button span.button-label {
  display: block;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis; }

.button span.pre, .button span.post {
  display: inline-block; }

.button span.pre {
  padding: 0 0.2rem 0 0; }

.button span.post {
  padding: 0 0 0 0.2rem; }

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.1rem;
  font-size: 1rem; }

.attachment-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem 1rem 0; }

.attachment-button .button.round {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  max-width: 4rem;
  height: 4rem;
  max-height: 4rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 1; }

.button-box.row .attachment-button .button.round:first-of-type {
  margin: 0; }

.attachment-button span.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: 1.5rem;
  max-width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
  border: 1.5px solid #ffffff;
  border-radius: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #003350; }

.attachment-button span.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 0.69rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

input[type="file"] {
  position: absolute;
  width: auto;
  max-width: 9.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }

.button.blue {
  border: 1px solid #003350;
  color: #ffffff;
  background-color: #003350; }

.button.blue:hover, .button.blue:focus {
  color: #003350;
  background-color: #ffffff; }

.button.blue span.number {
  color: #003350;
  background-color: #ffffff; }

.button.blue:hover span.number, .button.blue:focus span.number {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue {
  border: 1px solid #003350;
  color: #003350;
  background-color: #ffffff; }

.button.secondary.blue:hover, .button.secondary.blue:focus {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue span.number {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue:hover span.number, .button.secondary.blue:focus span.number {
  color: #003350;
  background-color: #ffffff; }

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }

.text .button-box {
  padding: 1rem 0 0; }

.button-box.row {
  flex-direction: row; }

.button-box.right {
  align-items: flex-end; }

.button-box.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.left {
  align-items: flex-start; }

.button-box.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left {
  justify-content: flex-start; }

.button-box.row.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left .button:last-of-type {
  margin: 1rem 0 0 0; }

.button-box.row.right {
  justify-content: flex-end; }

.button-box.row.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.row.right .button:first-of-type {
  margin: 1rem 0 0 0; }

.xs {
  max-width: 16rem;
  min-width: 16rem; }

.sm {
  max-width: 24rem;
  min-width: 24rem; }

.md {
  max-width: 32rem;
  min-width: 32rem; }

.lg {
  max-width: 40rem;
  min-width: 40rem; }

.xs, .sm, .md, .lg {
  margin: 0; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 2rem 0; }

.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0; }

.text.center {
  text-align: center; }

.text.first {
  padding: 0 2rem; }

.form-container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0; }

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #003350;
  -webkit-transition: height 0.2s ease-out 0s;
  -moz-transition: height 0.2s ease-out 0s;
  -ms-transition: height 0.2s ease-out 0s;
  -o-transition: height 0.2s ease-out 0s;
  transition: height 0.2s ease-out 0s; }

.loading .logo {
  width: 80%;
  max-width: 12rem; }

.loading .logo .logo-color {
  fill: #ffffff; }

.loading.loaded {
  height: calc(100vh - 70%); }

.return.loading.loaded {
  height: 0; }

.loading.loaded:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1rem;
  left: 0;
  z-index: -1;
  height: 35%;
  background-color: inherit;
  content: "";
  transform: skewY(1deg);
  transform-origin: 100%; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 30vh 0 2rem;
  background-image: url("../images/bg-urban.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain; }

.welcome.back {
  padding: 0 0 2rem;
  background-image: none; }

.welcome .button {
  justify-content: center;
  min-width: 14rem; }

.welcome.back .button {
  min-width: 10rem; }
