html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: calc(1rem + 6 * ((100vw - 32rem) / 680));
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #000000; }

body, .body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  animation: 0.5s ease-out 0s 1 fadeIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  color: #ffffff;
  background: #dd4a36; }

::selection {
  color: #ffffff;
  background: #dd4a36; }

a {
  font-weight: 700;
  text-decoration: none;
  color: #dd4a36;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a.slate {
  color: #526470; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

h1, h2, h3, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 1.953rem;
  font-weight: 700;
  text-transform: capitalize; }

h2, h3 {
  font-size: 1.563rem;
  font-weight: 700;
  text-transform: capitalize; }

h3 {
  font-size: 1.25rem; }

h1 + h2 {
  padding: 0.8rem 0; }

p {
  padding: 0.8rem 0;
  font-size: 1rem;
  line-height: 1.5; }

p:last-of-type {
  padding: 0.8rem 0 0; }

small {
  font-size: 0.8rem; }

strong, em, b {
  font-style: normal;
  font-weight: 700; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul li, ol li {
  width: 100%;
  padding: 0 0 1rem 0; }

ul li:last-child, ol li:last-child {
  padding: 0; }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  min-height: 2.75rem;
  max-height: 2.75rem;
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0 1.75rem;
  border-radius: 0.2rem;
  font-size: 0.69rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.button.hide {
  opacity: 0; }

.button.show {
  opacity: 1; }

.button span.button-label {
  display: block;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis; }

.button span.pre, .button span.post {
  display: inline-block; }

.button span.pre {
  padding: 0 0.2rem 0 0; }

.button span.post {
  padding: 0 0 0 0.2rem; }

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.1rem;
  font-size: 1rem; }

.button span.number,
.button.secondary span.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 0.5rem;
  border-radius: 2rem;
  font-size: 0.69rem;
  font-weight: 700; }

input[type="file"] {
  position: absolute;
  width: auto;
  max-width: 9.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }

.button {
  border: 1px solid #526470;
  color: #ffffff;
  background-color: #526470; }

.button:hover, .button:focus {
  color: #526470;
  background-color: #ffffff; }

.button span.number {
  color: #526470;
  background-color: #ffffff; }

.button:hover span.number, .button:focus span.number {
  color: #ffffff;
  background-color: #526470; }

.button.secondary {
  border: 1px solid #526470;
  color: #526470;
  background-color: #ffffff; }

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #526470; }

.button.secondary span.number {
  color: #ffffff;
  background-color: #526470; }

.button.secondary:hover span.number, .button.secondary:focus span.number {
  color: #526470;
  background-color: #ffffff; }

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }

.text .button-box {
  padding: 1rem 0 0; }

.button-box.row {
  flex-direction: row; }

.button-box.right {
  align-items: flex-end; }

.button-box.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.left {
  align-items: flex-start; }

.button-box.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left {
  justify-content: flex-start; }

.button-box.row.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left .button:last-of-type {
  margin: 1rem 0 0 0; }

.button-box.row.right {
  justify-content: flex-end; }

.button-box.row.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.row.right .button:first-of-type {
  margin: 1rem 0 0 0; }

.button-box.row span.or {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.75rem;
  margin: 1rem 1rem 0 0;
  font-size: 0.8rem;
  font-weight: 500; }

@media (min-width: 46.75rem) {
  .xs {
    max-width: 16rem;
    min-width: 16rem; }
  .sm {
    max-width: 24rem;
    min-width: 24rem; }
  .md {
    max-width: 32rem;
    min-width: 32rem; }
  .lg {
    max-width: 40rem;
    min-width: 40rem; }
  .xs, .sm, .md, .lg {
    margin: 0; } }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 32rem;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding-bottom: 6rem; }

main.no-padding {
  padding: 0; }

section {
  width: 100%; }

.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 2rem; }

.text.more-padding {
  padding: 2rem 2rem 0; }

.text.center {
  text-align: center; }

.form-container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in 0s;
  -moz-transition: opacity 0.2s ease-in 0s;
  -ms-transition: opacity 0.2s ease-in 0s;
  -o-transition: opacity 0.2s ease-in 0s;
  transition: opacity 0.2s ease-in 0s; }

.form-container.hidden.wait {
  display: none;
  opacity: 0; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 32rem;
  min-height: 6.775rem;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  background-color: #ffffff; }

.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100; }

.headroom {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  will-change: transform; }

.headroom--pinned {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

header .logo {
  display: grid;
  width: 8rem;
  outline: none; }

header .logo .logo-color {
  fill: #000000; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #ffffff; }

footer nav {
  width: 100%; }
  footer nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  footer nav ul li {
    padding: 0; }
  footer nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #dd4a36; }
  footer nav ul li a span.icon {
    font-size: 2rem; }
  footer nav ul li a.active {
    color: #526470; }

input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: none;
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

form.wrap {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

fieldset {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  border: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

fieldset:last-of-type {
  margin: 0; }

fieldset.half {
  width: calc(50% - 1rem); }

fieldset.inline-button {
  width: calc(60% - 1rem); }

legend {
  display: none; }

label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left; }

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #a0a0a0;
  font-weight: 400;
  cursor: text; }

input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input:focus {
  border-color: #dd4a36; }

input:focus::placeholder {
  opacity: 0.5; }

input[type="password"],
input[type="search"] {
  padding: 1rem 3rem 1rem 0; }

label.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.5rem;
  padding-left: 2rem; }

label.checkbox span {
  z-index: 10; }

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 10rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: #ffffff;
  content: '\f17b'; }

input[type="checkbox"]:checked:not(:disabled) {
  border-color: #dd4a36;
  background-color: #dd4a36; }

input.toggle[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  left: auto;
  width: 3.5rem;
  height: 1.75rem;
  min-height: 1.75rem;
  max-height: 1.75rem;
  margin: 0;
  padding: 0.1875rem;
  border-color: transparent;
  border-radius: 2rem;
  background-color: #526470;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input.toggle[type="checkbox"]:checked:before {
  display: none; }

input.toggle[type="checkbox"]:after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border-color: transparent;
  border-radius: 100%;
  font-family: "LineAwesome";
  font-size: 1rem;
  background-color: #ffffff;
  content: "\f342";
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input.toggle[type="checkbox"]:checked {
  border-color: transparent;
  background-color: #00ac39; }

input.toggle[type="checkbox"]:checked:after {
  left: calc(100% - 1.25rem);
  color: #00ac39;
  content: "\f17b"; }

label.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-height: 1.75rem;
  padding: 0 4rem 0 0; }

label.date span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

label.date span input {
  width: 24%;
  text-align: center; }

label.date span input.purchase-year {
  width: 30%; }

label.date span.slash {
  display: block;
  width: auto; }

select {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2.75rem;
  min-height: 2.75rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #a0a0a0;
  border-left: none;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  background-color: #ffffff;
  cursor: text;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0.875rem;
  right: 0;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1rem; }

select:disabled {
  border-color: #f8f9fc;
  color: #d1d8df; }

select:disabled + .select-icon {
  color: #d1d8df; }

select:focus {
  border-color: #dd4a36;
  outline: none; }

.search-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0.875rem;
  right: 0;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1.5rem; }

span.forgot-password-prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 1.325rem;
  min-height: 1.325rem;
  font-size: 0.8rem; }

.show-hide-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: auto;
  height: calc(100% - 0.925rem);
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

span.error-message {
  display: block;
  width: 100%;
  padding: 0.6rem 0 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: #f04e59;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

fieldset.error label,
fieldset.error input,
fieldset.error input::placeholder,
fieldset.error select {
  color: #f04e59; }

fieldset.error input,
fieldset.error select {
  border-color: #f04e59; }

fieldset.error span.error-message {
  opacity: 1; }

span.is-valid {
  position: absolute;
  top: 2.325rem;
  right: 1rem;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  border: 1px solid #00ac39;
  border-radius: 10rem;
  background-color: #00ac39;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

span.is-valid:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: #ffffff;
  content: '\f17b'; }

fieldset.valid span.is-valid {
  opacity: 1; }

.form-display-control {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 2rem 0; }

.form-display-control input.accordian {
  z-index: -1;
  opacity: 0; }

.form-display-control input.accordian ~ form {
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-in-out 0s;
  -moz-transition: max-height 0.2s ease-in-out 0s;
  -ms-transition: max-height 0.2s ease-in-out 0s;
  -o-transition: max-height 0.2s ease-in-out 0s;
  transition: max-height 0.2s ease-in-out 0s; }

label.form-control-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 0.5rem;
  font-size: 0.64rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #dd4a36; }

label.form-control-header span {
  padding: 0 0.25rem 0 0; }

label.form-control-header i.la.la-angle-up {
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.form-display-control input.accordian:checked ~ label.form-control-header i.la.la-angle-up {
  -webkit-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
  transform: rotate(0.5turn); }

.form-display-control input.accordian:checked ~ form {
  max-height: 100rem; }

ul.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0 0;
  list-style-type: none; }

ul.slider.more-padding {
  padding: 2rem 0 0; }

ul.slider li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  padding: 0;
  border-bottom: 1px solid #d1d8df;
  text-overflow: ellipsis;
  white-space: nowrap; }

ul.slider li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  font-weight: 500;
  color: #526470; }

ul.slider li span {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  color: #000000; }

ul.slider li:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 74%;
  font-family: "LineAwesome";
  font-size: 1rem;
  content: "\f112"; }

ul.slider.icon li {
  height: 4rem;
  padding: 0 0 0 2.5rem; }

ul.slider.icon li:before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 100%;
  font-family: "LineAwesome";
  font-size: 2.2rem; }

ul.slider.icon li:after {
  height: 100%; }

ul.slider.icon li.photo:before {
  content: "\f1e8"; }

ul.slider.icon li.manual:before {
  content: "\f14e"; }

ul.slider.icon li.receipt:before {
  content: "\f1ec"; }

ul.slider.icon li.paypal:before {
  content: "\f175"; }

ul.slider.icon li.credit-card:before {
  content: "\f1aa"; }

ul.slider.icon li.bitcoin:before {
  content: "\f149"; }

ul.stuff {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0 0;
  list-style-type: none; }

ul.stuff li {
  position: relative;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  padding: 0;
  border-bottom: 1px solid #d1d8df; }

ul.stuff li:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 74%;
  font-family: "LineAwesome";
  font-size: 1rem;
  content: "\f112"; }

ul.stuff li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  font-weight: 500;
  color: #526470; }

ul.stuff li div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 2rem);
  padding: 0; }

ul.stuff li div.label {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2;
  color: #000000; }

ul.stuff li div.details {
  font-size: 1rem;
  font-weight: 500;
  color: #526470; }

ul.stuff li div.details span.description {
  display: block;
  width: calc(100% - 2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

ul.activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 0;
  font-weight: 700;
  list-style-type: none; }

ul.activities.more-padding {
  padding: 2rem 2rem 0; }

ul.activities li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap; }

ul.activities li span {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #526470; }

ul.slider li label.toggle {
  font-size: 1rem;
  font-weight: 500;
  color: #526470; }

ul.slider li.switch:after {
  display: none; }

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 0 0 4rem;
  background-color: #9edadb;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s; }

.loading .logo {
  width: 55%; }

.loading .logo .logo-color {
  fill: #ffffff; }

.loading.loaded {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0; }

@media (min-height: 35.9375rem) {
  .welcome {
    padding: 2rem 0 4rem; } }

.welcome .video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden; }

.welcome video {
  position: absolute;
  top: 0;
  width: auto;
  height: 100vh; }

.welcome .logo {
  width: 55%; }

.welcome .logo .logo-color {
  fill: #ffffff; }

.welcome h1, .welcome p {
  color: #ffffff; }

.welcome p {
  font-weight: 500; }

.welcome p a {
  display: block;
  margin: 1rem 0 0;
  font-size: 0.8rem;
  color: #ffffff; }

.welcome p a:hover, .welcome p a:focus {
  color: #dd4a36; }

.welcome p a:before {
  display: block;
  width: 25%;
  height: 1px;
  margin: 0 auto 1rem;
  background-color: #ffffff;
  content: ""; }

.welcome .button {
  justify-content: center;
  min-width: 14rem;
  border-color: #ffffff;
  color: #526470;
  background-color: #ffffff; }

.welcome .button:hover, .welcome .button:focus {
  color: #ffffff;
  background-color: transparent; }

.welcome .button.secondary {
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent; }

.welcome .button.secondary:hover, .welcome .button.secondary:focus {
  color: #526470;
  background-color: #ffffff; }

@media (min-width: 46.75rem) {
  .welcome .logo {
    width: 40%; } }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #e8f6f7;
  background-image: url(../images/home-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%; }

.home .vecteezy {
  position: absolute;
  bottom: 4.5rem; }

.home .vecteezy p {
  padding: 0 2rem;
  font-size: 0.8rem;
  text-align: center; }

.home .vecteezy p a {
  color: #ffffff; }

.recent-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0 0 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #526470;
  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s; }

.recent-activity.loaded {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }

.recent-activity .button {
  border: 1px solid #dd4a36;
  color: #ffffff;
  background-color: #dd4a36; }

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 2rem;
  background-color: #ffffff; }

.introduction .carousel, .introduction .carousel .carousel-cell {
  max-width: none; }

.introduction .text {
  max-width: 40rem; }

.introduction .graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 38vh;
  margin: 0 auto 2rem;
  padding: 0; }

.introduction .vecteezy {
  position: relative;
  top: -4rem; }

.introduction .vecteezy p {
  padding: 0 2rem;
  font-size: 0.8rem;
  text-align: center; }

.introduction .vecteezy p a {
  color: #ffffff; }

.carousel {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 1rem;
  padding: 0 2rem; }

.carousel .flickity-viewport {
  -webkit-transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -ms-transition: height 0.2s ease 0s;
  -o-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s; }

.carousel.no-padding {
  padding: 0; }

.carousel .flickity-prev-next-button {
  display: none; }

.carousel .flickity-button-icon {
  fill: #dd4a36; }

.carousel .flickity-page-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  margin: 2rem auto 0; }

.carousel .flickity-page-dots .dot {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
  padding: 0;
  border-radius: 100%;
  line-height: 1;
  background: #526470; }

.carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 40rem;
  min-height: 100%;
  margin: auto;
  padding: 0;
  text-align: left; }

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; }

.button-group.button-group--cells .button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  padding: 0;
  border: 1px solid #526470;
  border-radius: 100%;
  line-height: 2.5;
  color: #526470;
  background-color: #ffffff; }

.button-group.button-group--cells .button.is-selected {
  color: #ffffff;
  background-color: #526470; }

.carousel-nav.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.carousel-nav.button-group.button-group--cells span.button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
  max-width: none;
  min-width: auto;
  height: auto;
  max-height: none;
  min-height: auto;
  margin: 0;
  padding: 0 1rem 1rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2.5;
  color: #a0a0a0;
  background-color: #ffffff; }

.carousel-nav.button-group.button-group--cells span.button.is-selected {
  color: #dd4a36; }

.carousel-nav.button-group.button-group--cells span.button:after {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.425rem;
  height: 0.425rem;
  margin: 0 auto;
  border-radius: 100%;
  background-color: transparent;
  content: ""; }

.carousel-nav.button-group.button-group--cells span.button.is-selected:after {
  background-color: #dd4a36; }

.recent-activity .carousel-nav.button-group {
  padding: 2rem 0 0; }

/*
.recent-activity .carousel-nav.button-group.button-group--cells span.button {background-color: $light-blue;}

.recent-activity .carousel-nav.button-group.button-group--cells span.button.is-selected {color: $white;}

.recent-activity .carousel-nav.button-group.button-group--cells span.button.is-selected:after {background-color: $white;}
*/
.modal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  margin: 0;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.modal.open {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.modal-content {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 5rem 0 2rem; }

.modal-content .text, .modal-content .form-container {
  max-width: 32rem;
  margin: 0 auto; }

.close-modal {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: "LineAwesome";
  font-size: 1.5rem; }
