.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

.m-scene .scene_element--fadein {
  animation-name: fadeIn; }

.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp; }

.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1rem + 6 * ((100vw - 32rem) / 680));
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #000000; }

body, .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  color: #ffffff;
  background: #f04e59; }

::selection {
  color: #ffffff;
  background: #f04e59; }

a {
  font-weight: 700;
  text-decoration: none;
  color: #00ac39;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

h1, h2, h3, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 1.953rem;
  font-weight: 700;
  text-transform: capitalize; }

h2, h3 {
  font-size: 1.563rem;
  font-weight: 700;
  text-transform: capitalize; }

h3 {
  font-size: 1.25rem; }

h1 + h2 {
  padding: 0.8rem 0; }

p {
  padding: 0.8rem 0;
  font-size: 1rem;
  line-height: 1.5; }

p:last-of-type {
  padding: 0.8rem 0 0; }

small {
  font-size: 0.8rem; }

strong, em, b {
  font-style: normal;
  font-weight: 700; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul li, ol li {
  width: 100%;
  padding: 0 0 1rem 0; }

ul li:last-child, ol li:last-child {
  padding: 0; }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  min-height: 2.75rem;
  max-height: 2.75rem;
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0 1.75rem;
  border-radius: 0.2rem;
  font-size: 0.69rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.button.hide {
  opacity: 0; }

.button.show {
  opacity: 1; }

.button span.button-label {
  display: block;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis; }

.button span.pre, .button span.post {
  display: inline-block; }

.button span.pre {
  padding: 0 0.2rem 0 0; }

.button span.post {
  padding: 0 0 0 0.2rem; }

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.1rem;
  font-size: 1rem; }

.button span.number,
.button.secondary span.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 0.5rem;
  border-radius: 2rem;
  font-size: 0.69rem;
  font-weight: 700; }

input[type="file"] {
  position: absolute;
  width: auto;
  max-width: 9.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }

.button-box.left .button.add-attachment,
.button.add-attachment {
  margin: 0 0 2rem; }

.button.blue {
  border: 1px solid #003350;
  color: #ffffff;
  background-color: #003350; }

.button.blue:hover, .button.blue:focus {
  color: #003350;
  background-color: #ffffff; }

.button.blue span.number {
  color: #003350;
  background-color: #ffffff; }

.button.blue:hover span.number, .button.blue:focus span.number {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue {
  border: 1px solid #003350;
  color: #003350;
  background-color: #ffffff; }

.button.secondary.blue:hover, .button.secondary.blue:focus {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue span.number {
  color: #ffffff;
  background-color: #003350; }

.button.secondary.blue:hover span.number, .button.secondary.blue:focus span.number {
  color: #003350;
  background-color: #ffffff; }

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }

.text .button-box {
  padding: 1rem 0 0; }

.button-box.row {
  flex-direction: row; }

.button-box.right {
  align-items: flex-end; }

.button-box.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.left {
  align-items: flex-start; }

.button-box.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left {
  justify-content: flex-start; }

.button-box.row.left .button {
  margin: 1rem 1rem 0 0; }

.button-box.row.left .button:last-of-type {
  margin: 1rem 0 0 0; }

.button-box.row.right {
  justify-content: flex-end; }

.button-box.row.right .button {
  margin: 1rem 0 0 1rem; }

.button-box.row.right .button:first-of-type {
  margin: 1rem 0 0 0; }

@media (min-width: 48rem) {
  .xs {
    max-width: 16rem;
    min-width: 16rem; }
  .sm {
    max-width: 24rem;
    min-width: 24rem; }
  .md {
    max-width: 32rem;
    min-width: 32rem; }
  .lg {
    max-width: 40rem;
    min-width: 40rem; }
  .xs, .sm, .md, .lg {
    margin: 0; } }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 32rem;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 0 6rem; }

section {
  width: 100%; }

.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 2rem; }

.text.center {
  text-align: center; }

.form-container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #003350; }

nav {
  width: 100%; }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  nav ul li {
    padding: 0; }
  nav ul li:nth-of-type(1n) {
    border-right: 1px solid #ffffff; }
  nav ul li:nth-of-type(2n) {
    border-right: 1px solid #ffffff; }
  nav ul li:nth-of-type(3n) {
    border-right: none; }
  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
  nav ul li a span.icon {
    font-size: 2rem; }
  nav ul li a.active {
    color: #d1d8df; }

input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

form.wrap {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

fieldset {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  border: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

fieldset:last-of-type {
  margin: 0; }

fieldset.half {
  width: calc(50% - 1rem); }

fieldset.inline-button {
  width: calc(60% - 1rem); }

legend {
  display: none; }

label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left; }

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.75rem;
  margin: 0.5rem 0 0;
  padding: 1rem;
  border: 1px solid #d1d8df;
  font-weight: 500;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  background-color: #f8f9fc;
  cursor: text; }

input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  white-space: nowrap; }

input::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input:focus::placeholder {
  opacity: 0.5; }

input[type="password"],
input[type="search"] {
  padding: 1rem 3rem 1rem 1rem; }

label.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.5rem;
  padding-left: 2rem; }

label.checkbox span {
  z-index: 10; }

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 10rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: #ffffff;
  content: '\f17b'; }

input[type="checkbox"]:checked:not(:disabled) {
  border-color: #00ac39;
  background-color: #00ac39; }

select {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2.75rem;
  min-height: 2.75rem;
  overflow: hidden;
  margin: 0.5rem 0 0;
  padding: 0 1rem;
  border: 1px solid #d1d8df;
  font-size: 1rem;
  font-weight: 500;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  text-overflow: ellipsis;
  background-color: #f8f9fc;
  cursor: text;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 0;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1rem; }

select:disabled {
  border-color: #f8f9fc;
  color: #d1d8df; }

select:disabled + .select-icon {
  color: #d1d8df; }

.search-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1.425rem;
  right: 1rem;
  z-index: 2;
  height: 2.75rem;
  min-height: 2.75rem;
  font-size: 1.5rem; }

span.forgot-password-prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 1.325rem;
  min-height: 1.325rem;
  font-size: 0.8rem; }

.show-hide-password {
  display: block;
  position: absolute;
  top: 2.125rem;
  right: 1rem;
  z-index: 10;
  width: auto;
  height: 1.75rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

span.error-message {
  display: block;
  width: 100%;
  padding: 0.6rem 0 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: #f04e59;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

fieldset.error label,
fieldset.error input,
fieldset.error input::placeholder,
fieldset.error select {
  color: #f04e59; }

fieldset.error input,
fieldset.error select {
  border-color: #f04e59; }

fieldset.error span.error-message {
  opacity: 1; }

span.is-valid {
  position: absolute;
  top: 2.325rem;
  right: 1rem;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  border: 1px solid #00ac39;
  border-radius: 10rem;
  background-color: #00ac39;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

span.is-valid:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 0.8rem;
  color: #ffffff;
  content: '\f17b'; }

fieldset.valid span.is-valid {
  opacity: 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

.m-scene .scene_element--fadein {
  animation-name: fadeIn; }

.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp; }

.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight; }

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse; }

.carousel {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 1rem;
  padding: 0 2rem; }

.carousel.no-padding {
  padding: 0; }

.carousel .flickity-prev-next-button {
  display: none; }

.carousel .flickity-button-icon {
  fill: #003350; }

.carousel .flickity-page-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  margin: 2rem auto 0; }

.carousel .flickity-page-dots .dot {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
  padding: 0;
  border-radius: 100%;
  line-height: 1;
  background: #003350; }

.carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 40rem;
  min-height: 100%;
  margin: auto;
  padding: 0;
  text-align: left; }

.carousel.progressive {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0; }

.carousel.progressive .flickity-viewport {
  -webkit-transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -ms-transition: height 0.2s ease 0s;
  -o-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s; }

.carousel.progressive .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 40rem;
  min-height: 100%;
  margin: auto;
  padding: 0;
  text-align: left; }

ul.attachment-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2rem 0;
  list-style-type: none; }

ul.attachment-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 0 0 2.5rem;
  border-bottom: 1px solid #d1d8df; }

ul.attachment-list li:first-of-type {
  border-top: 1px solid #d1d8df; }

ul.attachment-list li a {
  width: 100%;
  height: 100%;
  padding: 1rem 0; }

ul.attachment-list li:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 100%;
  font-family: "LineAwesome";
  font-size: 1rem;
  content: "\f112"; }

ul.attachment-list li.photo:before,
ul.attachment-list li.manual:before,
ul.attachment-list li.receipt:before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 100%;
  font-family: "LineAwesome";
  font-size: 2.2rem; }

ul.attachment-list li.photo:before {
  content: "\f1e8"; }

ul.attachment-list li.manual:before {
  content: "\f14e"; }

ul.attachment-list li.receipt:before {
  content: "\f1ec"; }

ul.attachment-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  list-style-type: none; }

ul.attachment-details li span {
  font-weight: 500; }
