// ADD STUFF
.add-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}


// ADD STUFF SLIDES
.add-stuff .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 0 2rem;
  @include transition(all, 0.5s, ease);
}