// INTRODUCTION
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}


// INTRODUCTION SLIDES
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 0 2rem;
}

.intro .text.skip {
  position: absolute;
  top: 0;
}

.intro .text.skip a {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.intro .text.next {
  position: absolute;
  bottom: 0;
}

.intro .text.next a {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.intro.one {
  color: $white;
  background-color: $color-one;
}

.intro.one .text.skip a, .intro.one .text.next a {color: $white;}
.intro.one .text.skip a:hover, .intro.one .text.skip a:focus,
.intro.one .text.next a:hover, .intro.one .text.next a:focus {color: $color-two;}


// INTRODUCTION SLIDER DOTS
.slider-dots ul li.slider-dot.one.show {background-color: $white;}