// INTRODUCTION
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}


// INTRODUCTION SLIDES
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 0 2rem;
  @include transition(all, 0.5s, ease);
}

.intro .text.skip {
  position: absolute;
  top: 0;
}

.intro .text.skip a {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-one;
}

.intro .text.skip a:hover, .intro .text.skip a:focus {color: $color-two;}

.intro .text.next {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 2rem;
}

.intro .text.next a {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-one;
}

.intro .text.next a:hover, .intro .text.next a:focus {color: $color-two;}

/*
.intro.one {
  color: $white;
  background-color: $color-one;
}

.intro.one .text.skip a, .intro.one .text.next a {color: $white;}
.intro.one .text.skip a:hover, .intro.one .text.skip a:focus,
.intro.one .text.next a:hover, .intro.one .text.next a:focus {color: $color-two;}

.intro.two {
  color: $black;
  background-color: $white;
}

.intro.two .text.skip a, .intro.two .text.next a {color: $color-one;}
.intro.two .text.skip a:hover, .intro.two .text.skip a:focus,
.intro.two .text.next a:hover, .intro.two .text.next a:focus {color: $color-two;}

.intro.three {
  color: $white;
  background-color: $color-two;
}

.intro.three .text.skip a, .intro.three .text.next a {color: $white;}
.intro.three .text.skip a:hover, .intro.three .text.skip a:focus,
.intro.three .text.next a:hover, .intro.three .text.next a:focus {color: $color-one;}
*/