// SIGN IN
.sign-in {width: 100%;}


// SIGN IN SLIDER CELLS
.authentication, .forgot-password, .password-email-sent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
}