// SIGN UP
.sign-up {width: 100%;}


// SIGN UP SLIDES
.sign-up .slide {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
}

.register {
  justify-content: center;
  min-height: 100vh;
  padding: 0 0 2rem;
}

.terms {
  max-height: 100vh;
  @include transition(max-height, 0.325s, ease);
}

.sign-up .slider.int.slide-two .terms {
  max-height: 100%;
  @include transition(max-height, 0.325s, ease);
}

.terms .text {padding: 5rem 2rem 0;}

.terms .back {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  color: var(--color-one);
}

.terms .back:hover, .terms .back:focus {color: var(--color-two);}