// NAVIGATION
nav {@include transition(all, 0.325s, ease);}
nav.start {
  opacity: 0;
  @include transform(translateY(100%));
}


// MAIN
main {padding: 0;}


// CONTENT
.content {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}


// PAGE TRANSITIONS
.welcome, .sign-in-page, .sign-up-page, .introduction-page, .home-page,
.stuff-page, .add-stuff-page, .edit-stuff-page, .profile-page {
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  @include transition(all, 0.5s, ease);
  @include transform(translateY(-200rem));
}

.welcome.show, .sign-in-page.show, .sign-up-page.show, .introduction-page.show,
.home-page.show, .add-stuff-page.show {
  max-height: 500rem;
  min-height: 100vh;
  @include transform(translateY(0rem));
}

.welcome.show {
  justify-content: center;
  min-height: 80vh;
}


// SLIDER
.slider {position: static;}


// ADD STUFF
.add-stuff-page {margin-bottom: 4rem;}