// NAVIGATION
nav {@include transition(all, 0.325s, ease);}
nav.start {
  opacity: 0;
  @include transform(translateY(100%));
}


// MAIN
main {padding: 0;}


// CONTENT
.content {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}


// PAGE TRANSITIONS
.welcome-page, .sign-in-page, .sign-up-page, .introduction-page,
.home-page, .stuff-page, .add-stuff-page, .profile-page, .sign-out-page {
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  padding-bottom: 4rem;
  @include transition(all, 0.5s, ease);
  @include transform(translateY(-200rem));
}

.welcome-page.show, .sign-in-page.show, .sign-up-page.show, .introduction-page.show,
.home-page.show, .stuff-page.show, .add-stuff-page.show, .profile-page.show, .sign-out-page.show {
  max-height: 500rem;
  min-height: 100vh;
  @include transform(translateY(0rem));
}

.welcome-page.show {
  justify-content: center;
  min-height: 80vh;
}


// SLIDER
.slider {position: static;}


// ADD STUFF
.add-stuff-page {margin-bottom: 4rem;}


// ATTACHMENTS
.stuff-page .slide.four .form-container,
.add-stuff-page .slide.three .form-container {
  max-height: 0;
  opacity: 0;
  @include transition(all, 0.325s, ease);  
}

.stuff-page .slide.four .form-container.show,
.add-stuff-page .slide.three .form-container.show {
  max-height: 100rem;
  opacity: 1;
}