// BUTTONS
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  max-height: 2.5rem;
  min-height: 2.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0 3rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  @include transition(all, 0.325s, ease);
}

.button.hide {opacity: 0;}

.button.show {opacity: 1;}

.button span.button-label {
  display: block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button span.pre, .button span.post {display: inline-block;}

.button span.pre {padding: 0 0.25rem 0 0;}

.button span.post {padding: 0 0 0 0.25rem;}

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.1rem;
  font-size: 1rem;
}


// ATTACHMENT BUTTON
span.button.add--attachment input[type="file"] {
  position: absolute;
  width: auto;
  max-width: 9.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}


// SECONDARY BUTTON COLOR
.button {
  border: 1px solid var(--color-one);
  color: var(--color-one);
  background-color: $color-white;
}

.button:hover, .button:focus {
  border: 1px solid var(--color-two);
  color: var(--color-two);
}

.button span.number {
  color: $color-white;
  background-color: var(--color-one);
}

.button:hover span.number, .button:focus span.number {
  background-color: var(--color-two);
}


// TEXT BUTTON
a.text-button {
  font-size: 0.75rem;
  text-transform: uppercase;
}


// INLINE TEXT BUTTON
.inline-text-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}


// BACK BUTTONS
a.back--two,
a.back--three,
a.back--four,
a.back--five {
  display: block;
  padding: 2rem 0 0 2rem;
  font-size: 1.75rem;
}


// BUTTON BOX/ROW
.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
}