// COLORS
$purple: #5752c8;
$pink: #e11073;

$color-black: #000000;
$color-gray: #a0a0a0;
$color-white: #ffffff;

$color-error: #e00000;
$color-valid: #218003;


// SELECTION
::-moz-selection {
  color: $color-white;
  background: var(--color-one);
}

::selection {
  color: $color-white;
  background: var(--color-one);
}


// TEXT LINKS
a {color: var(--color-one);}
a:hover, a:focus {color: var(--color-two);}