// COLORS
$color-dark: #0c0b44;
$color-light: #3f3480;

$color-pink: #e11073;

$color-black: #000000;
$color-gray: #a0a0a0;
$color-white: #ffffff;

$color-error: #e00000;
$color-valid: #218003;


// SELECTION
::-moz-selection {
  color: $color-white;
  background: var(--color-one);
}

::selection {
  color: $color-white;
  background: var(--color-one);
}


// TEXT LINKS
a {color: $color-white;}
a:hover, a:focus {color: var(--color-two);}