// SLIDERS
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
}

.slider.ext {
  max-width: 100%;
  overflow: hidden;
}

.slider.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}


// SLIDE
.slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 0 0 2rem;
  @include transition(all, 0.325s, ease);
}


// SLIDE HEIGHT
.slider.int .slide.two, .slider.int .slide.three, .slider.int .slide.four,
.slider.int .slide.five, .slider.int .slide.six {max-height: 0;}

.stuff-page .slider.int.slide-two .slide.one,
.stuff-page .slider.int.slide-three .slide.one,
.stuff-page .slider.int.slide-four .slide.one,
.stuff-page .slider.int.slide-five .slide.one,
.stuff-page .slider.int.slide-six .slide.one {max-height: 0;}

.slider.int.slide-two .slide.two {max-height: 500rem;}
.slider.int.slide-three .slide.three {max-height: 500rem;}
.slider.int.slide-four .slide.four {max-height: 500rem;}
.slider.int.slide-five .slide.five {max-height: 500rem;}
.slider.int.slide-six .slide.six {max-height: 500rem;}


// SIGN IN SLIDER
.sign-in-page .slider.int {min-width: 300%;}
.sign-in-page .slider.int.slide-two {@include transform(translateX(-33.3%));}
.sign-in-page .slider.int.slide-three {@include transform(translateX(-66.6%));}


// SIGN UP SLIDER
.sign-up-page .slider.int {min-width: 200%;}
.sign-up-page .slider.int.slide-two {@include transform(translateX(-50%));}


// INTRODUCTION SLIDER
.introduction-page .slider.int {min-width: 600%;}
.introduction-page .slider.int.slide-two {@include transform(translateX(-16.7%));}
.introduction-page .slider.int.slide-three {@include transform(translateX(-33.4%));}
.introduction-page .slider.int.slide-four {@include transform(translateX(-50%));}
.introduction-page .slider.int.slide-five {@include transform(translateX(-66.66%));}
.introduction-page .slider.int.slide-six {@include transform(translateX(-83.35%));}

.introduction-page .slide {
  align-items: center;
  height: 100vh;
  padding: 4rem 0 2rem;
}


// STUFF SLIDER
.stuff-page .slider.int {min-width: 500%;}
.stuff-page .slider.int.slide-two {@include transform(translateX(-20%));}
.stuff-page .slider.int.slide-three {@include transform(translateX(-40%));}
.stuff-page .slider.int.slide-four {@include transform(translateX(-60%));}
.stuff-page .slider.int.slide-five {@include transform(translateX(-80%));}


// ADD STUFF SLIDER
.add-stuff-page .slider.int {min-width: 300%;}
.add-stuff-page .slider.int.slide-two {@include transform(translateX(-33.3%));}
.add-stuff-page .slider.int.slide-three {@include transform(translateX(-66.6%));}


// EDIT STUFF SLIDER
.edit-stuff-page .slider.int {min-width: 400%;}
.edit-stuff-page .slider.int.slide-two {@include transform(translateX(-25%));}
.edit-stuff-page .slider.int.slide-three {@include transform(translateX(-50%));}
.edit-stuff-page .slider.int.slide-four {@include transform(translateX(-75%));}


// PROFILE SLIDER
.profile-page .slider.int {min-width: 400%;}
.profile-page .slider.int.slide-two {@include transform(translateX(-25%));}
.profile-page .slider.int.slide-three {@include transform(translateX(-50%));}
.profile-page .slider.int.slide-four {@include transform(translateX(-75%));}