// SUMMARIES
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1rem auto 0;
  padding: 0.5rem;
  border: 1px solid $color-gray_med;
  border-radius: 0.25rem;
  background-color: $color-white;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 1rem 0 0;
      font-size: 0.875rem;
      font-weight: 400;
      color: $color-black;
      span {
        padding: 0 0 0.25rem;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-gray;
      }
    }
    li.description {width: 50%;}
    li.quantity {width: 25%;}
    li.value {width: 25%;}

    li.thumbnail {width: 2.25rem;}
    li.name {width: 40%;}
    li.type {width: 40%;}

    li:last-of-type {margin: 0;}
  }
}