// TYPOGRAPHY
h1, h2, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  padding: 1rem 0 0;
  font-size: 1rem;
  font-weight: 600;
}

h1 + h2 {padding: 1rem 0;}

p {
  padding: 1rem 0 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

form + p:first-of-type {padding: 2rem 0 0;}

small {font-size: 0.75rem;}

strong, em, b {
  font-style: normal;
  font-weight: 600;
}

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {text-align: center;}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}